





<style>
 footer{
  margin-top: 5px;
 }
 .container{
  padding-top: 40px;
 }

</style>


<footer class="text-center text-white" style="background-color: #152F4F;">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Location</h5>

        <p>22, Kigali Rwanda,the university </p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(250) 780-0000-87</p>
        <p><i class="fa fa-envelope-o mr-3"></i>email@gmail.com</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Heading</h5>
        <p class="pr-5 text-white-50">After approval, the system generates the permit and allows the applicant to download it immediately and commence construction works</p>
        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">References</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">https://www.google.com/</a>
          </li>
          <li>
            <a href="#!" class="text-white">https://simpleisbetterthancomplex.com</a>
          </li>
          <li>
            <a href="#!" class="text-white">https://stackoverflow.com</a>
          </li>
          <li>
            <a href="#!" class="text-white">https://www.geeksforgeeks.org</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">AutoBatirRequest.com</a>
  </div>
  <!-- Copyright -->
</footer>







  








  



